<img src="logo_img/logo.png" height=50 width=50 align="right"/><br/><br/>



# IST 5520: Data Science and ML in Python
## Project Report: Group 4 

<h3>Group Members:&nbsp;<font size=3><i>Sayantan Majumdar, Dawit Wolday Asfaw, Cong Shen, Divya Reddy Manku, Akhil Reddy Annreddy </i></font></h3>

# 1. Introduction

## 1.1 Background
Greenhouse gases (GHG) are responsible for trapping heat, thereby making the planet warmer. For the past 150 years, the sharp global increase in GHG in the atmosphere can be primarily attributed to anthropogenic or human-induced activities. In the United States, the largest source of GHG emissions from human activities includes fossil fuel burning, which acts as the predominant energy source in the transportation sector and is also used to generate electricity and heat. The transportation sector generates the largest share of GHG emissions (29% of 2019 GHG emissions) from burning fossil fuels (mostly petroleum by-products such as gasoline and diesel) for our cars, trucks, ships, trains, and planes.


The Environmental Protection Agency (EPA) emissions score (smog rating) reflects vehicle tailpipe emissions (CO$_2$) that contribute to local and regional air pollution, creating problems such as smog, haze, and health issues. CO$_2$ emissions typically constitute 99% of the tailpipe emissions of greenhouse gases. Essentially, the higher the rating, the cleaner the car is, and this rating is a direct proxy for the CO$_2$ emissions.  

## 1.2 Problem description and Research Questions
This project aims to build a machine learning model to predict the Environmental Protection Agency (EPA) emission score from different vehicles operating in the United States. Essentially, this is a classification problem wherein we will utilize the EPA vehicle and emission data sets to predict the EPA emission score (a discrete quantity). We will also be analyzing the factors having the most impact on this score which varies from 1 (worst) to 10 (best). In addition, we will compare different machine learning models to assess their performance on the data sets. Such kind of modeling and analysis, if pushed to a production environment, could enable policymakers to address critical issues in the sustainable transportation industry. In this regard, we have to answer the following research question:

<i> Which predictors are statistically significant for predicting the EPA emission score? </i>


Some specific research questions include:

<i>a.  Which machine learning model works best for this data set?</i> 

<i>b. Which cars perform well (in terms of emissions) in both city and highway driving conditions? </i>


## 1.3 Classification Analysis
The vehicle and car emissions data sets can model a classification problem where we need to predict the EPA emission score (a unitless quantity having integral values in the [1,10] interval) based on the explanatory variables. In this project, we deal with a high-dimensional classification problem concerned with prediction (discrete EPA emission score) and inference.

## 1.4 Potential Problems and Challenges
The major challenge in this project is to perform feature engineering. Appropriate data-preprocessing and feature engineering must be performed to reduce the data dimensionality required to address the above research questions suitably.

## 1.5 Tentative Timeline

|Phase|Activities|Completion|
|----|----------|--------|
|Data Collection| Collecting the required data set for the business analytics project|September 24, 2021|
|Kickoff|Understanding the project requirements and elicitation|October 1, 2021|
|Data Management|Data cleaning, pre-processing|October 29, 2021|
|Full Data Analysis|Evaluating different ML models|November 20, 2021|
|Project Submission|Report writing, preparing presentation, and proof-reading|November 30, 2021|

# 2. Data Source and Collection

## 2.1 Data Source

This dataset can be found at https://www.fueleconomy.gov/feg/ws/index.shtml. The vehicle and emission data sets need to be linked based on the vehicle ID. The vehicle data set contains 83 explanatory variables (columns) that provide detailed car specifications and has 44075 rows. As for the emissions data set, it has 8 features and 42442 rows. Some of the important features are listed below:

|Data Set|Feature Name|Details|
|----|----------|--------|
|emissions|score|EPA 1-10 smog rating for fuelType1 (target variable)|
|vehicle|fuelType1|For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.|
|vehicle|highway08|Highway MPG for fuelType1|
|vehicle|barrels08|Annual petroleum consumption in barrels for fuelType1|
|vehicle|year|Model year|
|vehicle|VClass|EPA vehicle size class|
|vehicle|phevBlended|If True, this vehicle operates on a blend of gasoline and electricity in charge depleting mode|



## 2.2 Collection

We found this data set on [EPA fuel economy portal](https://www.fueleconomy.gov/). The EPA has generated [annual reports](https://www.fueleconomy.gov/feg/pdfs/guides/FEG2021.pdf), but there are no existing publicly available notebooks having detailed machine learning workflows. Moreover, in conjunction, these two data sets satisfy all the other project requirements ($\ge$20 columns and $\ge$1000 rows) listed as part of this group assignment.

# 3. Data Management

In [125]:
# import required libraries for data management
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler
from sklearn.decomposition import KernelPCA

## 3.1 Data Cleaning

In [126]:
# Read data sets
vehicle_df = pd.read_csv('Data/vehicles.csv', low_memory=False)
emissions_df = pd.read_csv('Data/emissions.csv')

In [127]:
# Get vehicle data info and description
vehicle_df.info()
vehicle_df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44075 entries, 0 to 44074
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        44075 non-null  float64
 1   barrelsA08       44075 non-null  float64
 2   charge120        44075 non-null  float64
 3   charge240        44075 non-null  float64
 4   city08           44075 non-null  int64
 5   city08U          44075 non-null  float64
 6   cityA08          44075 non-null  int64
 7   cityA08U         44075 non-null  float64
 8   cityCD           44075 non-null  float64
 9   cityE            44075 non-null  float64
 10  cityUF           44075 non-null  float64
 11  co2              44075 non-null  int64
 12  co2A             44075 non-null  int64
 13  co2TailpipeAGpm  44075 non-null  float64
 14  co2TailpipeGpm   44075 non-null  float64
 15  comb08           44075 non-null  int64
 16  comb08U          44075 non-null  float64
 17  combA08          44075 non-null  int64
 18  combA08U         44075 non-null  float64
 19  combE            44075 non-null  float64
 20  combinedCD       44075 non-null  float64
 21  combinedUF       44075 non-null  float64
 22  cylinders        43770 non-null  float64
 23  displ            43772 non-null  float64
 24  drive            42889 non-null  object
 25  engId            44075 non-null  int64
 26  eng_dscr         27463 non-null  object
 27  feScore          44075 non-null  int64
 28  fuelCost08       44075 non-null  int64
 29  fuelCostA08      44075 non-null  int64
 30  fuelType         44075 non-null  object
 31  fuelType1        44075 non-null  object
 32  ghgScore         44075 non-null  int64
 33  ghgScoreA        44075 non-null  int64
 34  highway08        44075 non-null  int64
 35  highway08U       44075 non-null  float64
 36  highwayA08       44075 non-null  int64
 37  highwayA08U      44075 non-null  float64
 38  highwayCD        44075 non-null  float64
 39  highwayE         44075 non-null  float64
 40  highwayUF        44075 non-null  float64
 41  hlv              44075 non-null  int64
 42  hpv              44075 non-null  int64
 43  id               44075 non-null  int64
 44  lv2              44075 non-null  int64
 45  lv4              44075 non-null  int64
 46  make             44075 non-null  object
 47  model            44075 non-null  object
 48  mpgData          44040 non-null  object
 49  phevBlended      44075 non-null  bool
 50  pv2              44075 non-null  int64
 51  pv4              44075 non-null  int64
 52  range            44075 non-null  int64
 53  rangeCity        44075 non-null  float64
 54  rangeCityA       44075 non-null  float64
 55  rangeHwy         44075 non-null  float64
 56  rangeHwyA        44075 non-null  float64
 57  trany            44064 non-null  object
 58  UCity            44075 non-null  float64
 59  UCityA           44075 non-null  float64
 60  UHighway         44075 non-null  float64
 61  UHighwayA        44075 non-null  float64
 62  VClass           44075 non-null  object
 63  year             44075 non-null  int64
 64  youSaveSpend     44075 non-null  int64
 65  guzzler          2597 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         8514 non-null   object
 68  sCharger         952 non-null    object
 69  atvType          4141 non-null   object
 70  fuelType2        1764 non-null   object
 71  rangeA           1759 non-null   object
 72  evMotor          1363 non-null   object
 73  mfrCode          13267 non-null  object
 74  c240Dscr         118 non-null    object
 75  charge240b       44075 non-null  float64
 76  c240bDscr        112 non-null    object
 77  createdOn        44075 non-null  object
 78  modifiedOn       44075 non-null  object
 79  startStop        12386 non-null  object
 80  phevCity         44075 non-null  int64
 81  phevHwy          44075 non-null  int64
 82  phevComb         44075 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 27.6+ MB

,count,mean,std,min,25%,50%,75%,max
barrels08,44075.0,17.089905,4.698712,0.06,14.330870,16.4805,19.388824,47.087143
barrelsA08,44075.0,0.222572,1.143200,0.00,0.000000,0.0000,0.000000,18.311667
charge120,44075.0,0.000000,0.000000,0.00,0.000000,0.0000,0.000000,0.000000
charge240,44075.0,0.073465,0.784051,0.00,0.000000,0.0000,0.000000,15.300000
city08,44075.0,18.749223,9.036866,6.00,15.000000,17.0000,21.000000,150.000000
city08U,44075.0,7.185707,12.972132,0.00,0.000000,0.0000,16.169200,150.195800
cityA08,44075.0,0.814770,6.280906,0.00,0.000000,0.0000,0.000000,145.000000
cityA08U,44075.0,0.679923,6.181746,0.00,0.000000,0.0000,0.000000,145.083500
cityCD,44075.0,0.000501,0.037958,0.00,0.000000,0.0000,0.000000,5.350000
cityE,44075.0,0.520147,4.940315,0.00,0.000000,0.0000,0.000000,122.000000
cityUF,44075.0,0.002852,0.039264,0.00,0.000000,0.0000,0.000000,0.927000
co2,44075.0,107.957686,187.773444,-1.00,-1.000000,-1.0000,275.000000,893.000000
co2A,44075.0,5.843607,57.032958,-1.00,-1.000000,-1.0000,-1.000000,713.000000
co2TailpipeAGpm,44075.0,16.994214,91.955091,0.00,0.000000,0.0000,0.000000,713.000000
co2TailpipeGpm,44075.0,461.017357,125.764745,0.00,386.391304,444.3500,522.764706,1269.571429
comb08,44075.0,20.985071,8.652291,7.00,17.000000,20.0000,23.000000,142.000000
comb08U,44075.0,7.972696,13.548087,0.00,0.000000,0.0000,18.632100,141.951200
combA08,44075.0,0.869541,6.250612,0.00,0.000000,0.0000,0.000000,133.000000
combA08U,44075.0,0.713475,6.110493,0.00,0.000000,0.0000,0.000000,133.266200
combE,44075.0,0.528292,4.962906,0.00,0.000000,0.0000,0.000000,121.000000
combinedCD,44075.0,0.000389,0.033056,0.00,0.000000,0.0000,0.000000,4.800000
combinedUF,44075.0,0.002825,0.038834,0.00,0.000000,0.0000,0.000000,0.920000
cylinders,43770.0,5.708933,1.766317,2.00,4.000000,6.0000,6.000000,16.000000
displ,43772.0,3.282066,1.356857,0.00,2.200000,3.0000,4.200000,8.400000
engId,44075.0,7640.478775,16792.609574,0.00,0.000000,162.0000,4117.000000,69102.000000
feScore,44075.0,0.656858,2.881343,-1.00,-1.000000,-1.0000,3.000000,10.000000
fuelCost08,44075.0,2636.197391,738.408030,450.00,2150.000000,2650.0000,3050.000000,8300.000000
fuelCostA08,44075.0,98.241634,525.379257,0.00,0.000000,0.0000,0.000000,4000.000000
ghgScore,44075.0,0.658015,2.887266,-1.00,-1.000000,-1.0000,3.000000,10.000000
ghgScoreA,44075.0,-0.922042,0.651828,-1.00,-1.000000,-1.0000,-1.000000,8.000000
highway08,44075.0,24.853613,8.484246,9.00,20.000000,24.0000,28.000000,133.000000
highway08U,44075.0,9.335541,14.939994,0.00,0.000000,0.0000,22.780350,133.026300
highwayA08,44075.0,0.967487,6.381416,0.00,0.000000,0.0000,0.000000,121.000000
highwayA08U,44075.0,0.779874,6.178836,0.00,0.000000,0.0000,0.000000,121.200500
highwayCD,44075.0,0.000250,0.027495,0.00,0.000000,0.0000,0.000000,4.060000
highwayE,44075.0,0.538645,5.012180,0.00,0.000000,0.0000,0.000000,120.000000
highwayUF,44075.0,0.002788,0.038284,0.00,0.000000,0.0000,0.000000,0.910000
hlv,44075.0,1.975201,5.912968,0.00,0.000000,0.0000,0.000000,49.000000
hpv,44075.0,10.052706,27.812047,0.00,0.000000,0.0000,0.000000,195.000000
id,44075.0,22179.946001,12869.366833,1.00,11019.500000,22042.0000,33359.500000,44497.000000
lv2,44075.0,1.769212,4.314686,0.00,0.000000,0.0000,0.000000,41.000000
lv4,44075.0,6.034532,9.557379,0.00,0.000000,0.0000,13.000000,55.000000
pv2,44075.0,13.315553,30.862476,0.00,0.000000,0.0000,0.000000,194.000000
pv4,44075.0,33.536948,46.017789,0.00,0.000000,0.0000,91.000000,192.000000
range,44075.0,1.343392,18.335718,0.00,0.000000,0.0000,0.000000,520.000000
rangeCity,44075.0,1.294496,18.369160,0.00,0.000000,0.0000,0.000000,520.800000
rangeCityA,44075.0,0.156062,2.674805,0.00,0.000000,0.0000,0.000000,135.280000
rangeHwy,44075.0,1.221439,17.598063,0.00,0.000000,0.0000,0.000000,520.500000
rangeHwyA,44075.0,0.145662,2.402991,0.00,0.000000,0.0000,0.000000,114.760000
UCity,44075.0,23.748747,12.848973,0.00,18.449150,21.7000,26.091300,224.800000
UCityA,44075.0,1.077916,8.868052,0.00,0.000000,0.0000,0.000000,207.262200
UHighway,44075.0,34.884815,12.273705,0.00,28.000000,33.4229,39.500000,187.100000
UHighwayA,44075.0,1.310887,8.950533,0.00,0.000000,0.0000,0.000000,173.143600
year,44075.0,2002.823914,11.798301,1984.00,1992.000000,2004.0000,2013.000000,2022.000000
youSaveSpend,44075.0,-4416.863301,3706.878507,-32750.00,-6500.000000,-4500.0000,-2000.000000,6500.000000
charge240b,44075.0,0.014512,0.306402,0.00,0.000000,0.0000,0.000000,9.600000
phevCity,44075.0,0.252275,3.667847,0.00,0.000000,0.0000,0.000000,97.000000
phevHwy,44075.0,0.254317,3.545343,0.00,0.000000,0.0000,0.000000,81.000000
phevComb,44075.0,0.252116,3.590077,0.00,0.000000,0.0000,0.000000,88.000000

We observe that there are several missing values (NaNs) in the vehicle data. However, there are even more NaN values because some features have -1 or 0 as values which represent no data. So, we have to replace these -1s and 0s with NaN.

In [128]:
# Replace -1 with NaNs
vehicle_df = vehicle_df.replace([-1, 0], np.nan)
vehicle_df.info()
vehicle_df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44075 entries, 0 to 44074
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        44075 non-null  float64
 1   barrelsA08       1764 non-null   float64
 2   charge120        0 non-null      float64
 3   charge240        532 non-null    float64
 4   city08           44075 non-null  float64
 5   city08U          14419 non-null  float64
 6   cityA08          1764 non-null   float64
 7   cityA08U         1214 non-null   float64
 8   cityCD           45 non-null     float64
 9   cityE            555 non-null    float64
 10  cityUF           253 non-null    float64
 11  co2              11834 non-null  float64
 12  co2A             650 non-null    float64
 13  co2TailpipeAGpm  1511 non-null   float64
 14  co2TailpipeGpm   43773 non-null  float64
 15  comb08           44075 non-null  float64
 16  comb08U          14419 non-null  float64
 17  combA08          1764 non-null   float64
 18  combA08U         1214 non-null   float64
 19  combE            555 non-null    float64
 20  combinedCD       47 non-null     float64
 21  combinedUF       253 non-null    float64
 22  cylinders        43770 non-null  float64
 23  displ            43771 non-null  float64
 24  drive            42889 non-null  object
 25  engId            31478 non-null  float64
 26  eng_dscr         27463 non-null  object
 27  feScore          12063 non-null  float64
 28  fuelCost08       44075 non-null  float64
 29  fuelCostA08      1572 non-null   float64
 30  fuelType         44075 non-null  object
 31  fuelType1        44075 non-null  object
 32  ghgScore         12063 non-null  float64
 33  ghgScoreA        669 non-null    float64
 34  highway08        44075 non-null  float64
 35  highway08U       14419 non-null  float64
 36  highwayA08       1764 non-null   float64
 37  highwayA08U      1214 non-null   float64
 38  highwayCD        30 non-null     float64
 39  highwayE         555 non-null    float64
 40  highwayUF        253 non-null    float64
 41  hlv              5148 non-null   float64
 42  hpv              5147 non-null   float64
 43  id               44075 non-null  float64
 44  lv2              7083 non-null   float64
 45  lv4              15416 non-null  float64
 46  make             44075 non-null  object
 47  model            44075 non-null  object
 48  mpgData          44040 non-null  object
 49  phevBlended      44075 non-null  bool
 50  pv2              7077 non-null   float64
 51  pv4              15416 non-null  float64
 52  range            302 non-null    float64
 53  rangeCity        267 non-null    float64
 54  rangeCityA       253 non-null    float64
 55  rangeHwy         267 non-null    float64
 56  rangeHwyA        253 non-null    float64
 57  trany            44064 non-null  object
 58  UCity            44050 non-null  float64
 59  UCityA           1718 non-null   float64
 60  UHighway         44050 non-null  float64
 61  UHighwayA        1692 non-null   float64
 62  VClass           44075 non-null  object
 63  year             44075 non-null  float64
 64  youSaveSpend     43355 non-null  float64
 65  guzzler          2597 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         8514 non-null   object
 68  sCharger         952 non-null    object
 69  atvType          4141 non-null   object
 70  fuelType2        1764 non-null   object
 71  rangeA           1759 non-null   object
 72  evMotor          1363 non-null   object
 73  mfrCode          13267 non-null  object
 74  c240Dscr         118 non-null    object
 75  charge240b       108 non-null    float64
 76  c240bDscr        112 non-null    object
 77  createdOn        44075 non-null  object
 78  modifiedOn       44075 non-null  object
 79  startStop        12386 non-null  object
 80  phevCity         253 non-null    float64
 81  phevHwy          253 non-null    float64
 82  phevComb         253 non-null    float64
dtypes: bool(1), float64(59), object(23)
memory usage: 27.6+ MB

,count,mean,std,min,25%,50%,75%,max
barrels08,44075.0,17.089905,4.698712,0.06000,14.330870,16.480500,19.388824,47.087143
barrelsA08,1764.0,5.561138,1.722376,0.08087,4.681875,5.762308,6.810000,18.311667
charge120,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
charge240,532.0,6.086410,3.789202,0.67000,3.000000,4.000000,10.000000,15.300000
city08,44075.0,18.749223,9.036866,6.00000,15.000000,17.000000,21.000000,150.000000
city08U,14419.0,21.964772,13.775259,8.10000,16.329500,19.500000,23.302950,150.195800
cityA08,1764.0,20.357710,24.251744,7.00000,10.000000,12.000000,14.000000,145.000000
cityA08U,1214.0,24.685014,28.203539,7.44300,10.611025,12.295300,16.035500,145.083500
cityCD,45.0,0.490809,1.094143,0.06030,0.100000,0.100000,0.500000,5.350000
cityE,555.0,41.307192,15.932978,22.00000,28.264800,36.000000,50.183050,122.000000
cityUF,253.0,0.496902,0.152203,0.24000,0.384000,0.453000,0.568000,0.927000
co2,11834.0,404.780632,104.284015,22.00000,335.000000,397.000000,468.000000,893.000000
co2A,650.0,463.049231,91.673572,270.00000,391.500000,457.000000,511.000000,713.000000
co2TailpipeAGpm,1511.0,495.711435,96.664458,270.00000,419.666667,484.230769,572.272727,713.000000
co2TailpipeGpm,43773.0,464.198021,120.205678,22.00000,386.391304,444.350000,522.764706,1269.571429
comb08,44075.0,20.985071,8.652291,7.00000,17.000000,20.000000,23.000000,142.000000
comb08U,14419.0,24.370384,12.706117,9.95020,18.794850,22.161000,26.189550,141.951200
combA08,1764.0,21.726190,22.876605,9.00000,11.000000,13.000000,17.000000,133.000000
combA08U,1214.0,25.903151,26.526211,8.64140,12.077100,14.100350,18.515000,133.266200
combE,555.0,41.953974,14.777980,23.74410,31.000000,36.230000,49.000000,121.000000
combinedCD,47.0,0.365104,0.954392,0.09830,0.100000,0.100000,0.195350,4.800000
combinedUF,253.0,0.492166,0.148193,0.23700,0.384000,0.450600,0.570000,0.920000
cylinders,43770.0,5.708933,1.766317,2.00000,4.000000,6.000000,6.000000,16.000000
displ,43771.0,3.282141,1.356782,0.60000,2.200000,3.000000,4.200000,8.400000
engId,31478.0,10698.078086,19029.779272,1.00000,106.000000,1851.000000,4862.000000,69102.000000
feScore,12063.0,5.053718,1.927710,1.00000,4.000000,5.000000,6.000000,10.000000
fuelCost08,44075.0,2636.197391,738.408030,450.00000,2150.000000,2650.000000,3050.000000,8300.000000
fuelCostA08,1572.0,2754.452926,650.152423,550.00000,2400.000000,2750.000000,3250.000000,4000.000000
ghgScore,12063.0,5.057946,1.950313,1.00000,4.000000,5.000000,6.000000,10.000000
ghgScoreA,669.0,4.118087,1.477208,1.00000,3.000000,4.000000,5.000000,8.000000
highway08,44075.0,24.853613,8.484246,9.00000,20.000000,24.000000,28.000000,133.000000
highway08U,14419.0,28.536234,11.590994,10.92320,22.965900,26.840700,31.048500,133.026300
highwayA08,1764.0,24.173469,21.371746,11.00000,13.000000,16.000000,21.000000,121.000000
highwayA08U,1214.0,28.313802,24.636438,10.75870,14.910300,17.438800,22.541675,121.200500
highwayCD,30.0,0.366990,1.004849,0.00030,0.100000,0.100000,0.100000,4.060000
highwayE,555.0,42.776145,13.732526,25.33710,33.000000,37.000000,50.000000,120.000000
highwayUF,253.0,0.485621,0.144713,0.23400,0.380800,0.442000,0.563000,0.910000
hlv,5148.0,16.910839,6.838730,4.00000,12.000000,16.000000,19.000000,49.000000
hpv,5147.0,86.083738,8.864626,49.00000,81.000000,85.000000,92.000000,195.000000
id,44075.0,22179.946001,12869.366833,1.00000,11019.500000,22042.000000,33359.500000,44497.000000
lv2,7083.0,11.009177,3.757519,2.00000,9.000000,11.000000,13.000000,41.000000
lv4,15416.0,17.252984,8.222022,1.00000,13.000000,15.000000,17.000000,55.000000
pv2,7077.0,82.928218,12.612756,1.00000,78.000000,84.000000,90.000000,194.000000
pv4,15416.0,95.883563,8.733047,4.00000,90.000000,96.000000,100.000000,192.000000
range,302.0,196.059603,104.523423,29.00000,88.000000,215.000000,265.000000,520.000000
rangeCity,267.0,213.688768,101.743844,42.40000,116.000000,233.700000,279.150000,520.800000
rangeCityA,253.0,27.187424,22.660197,8.62000,15.350000,19.420000,27.760000,135.280000
rangeHwy,267.0,201.628993,103.699039,31.62000,95.000000,217.400000,277.165000,520.500000
rangeHwyA,253.0,25.375753,19.161040,8.37000,15.270000,19.049000,27.170000,114.760000
UCity,44050.0,23.762225,12.840153,7.00000,18.477500,21.700000,26.093900,224.800000
UCityA,1718.0,27.653754,35.823673,8.86160,12.086500,14.439700,17.666450,207.262200
UHighway,44050.0,34.904613,12.249011,12.00000,28.000000,33.455200,39.500000,187.100000
UHighwayA,1692.0,34.147354,31.081959,13.45550,18.500000,22.949400,29.325000,173.143600
year,44075.0,2002.823914,11.798301,1984.00000,1992.000000,2004.000000,2013.000000,2022.000000
youSaveSpend,43355.0,-4490.214508,3693.207322,-32750.00000,-6500.000000,-4500.000000,-2000.000000,6500.000000
charge240b,108.0,5.922222,1.832168,2.30000,4.750000,4.750000,8.000000,9.600000
phevCity,253.0,43.948617,20.612865,15.00000,28.000000,37.000000,57.000000,97.000000
phevHwy,253.0,44.304348,15.459826,20.00000,32.000000,39.000000,54.000000,81.000000
phevComb,253.0,43.920949,18.127242,17.00000,29.000000,38.000000,55.000000,88.000000

In [129]:
# Check NaN values for vehicle
percent_nan = vehicle_df.isnull().sum() * 100 / vehicle_df.shape[0]
percent_nan

barrels08       0.000000
barrelsA08     95.997731
charge120     100.000000
charge240      98.792967
city08          0.000000
                 ...
modifiedOn      0.000000
startStop      71.897901
phevCity       99.425978
phevHwy        99.425978
phevComb       99.425978
Length: 83, dtype: float64

Since want to include details about all types of cars, we can use the above colums (some of which we identified to be of most use). We can simply drop some columns such as modifiedOn and createdOn as these will not be useful predictors.

In [130]:
# Columns with no missing values
non_nan_cols = percent_nan[percent_nan == 0]
non_nan_cols

barrels08      0.0
city08         0.0
comb08         0.0
fuelCost08     0.0
fuelType       0.0
fuelType1      0.0
highway08      0.0
id             0.0
make           0.0
model          0.0
phevBlended    0.0
VClass         0.0
year           0.0
createdOn      0.0
modifiedOn     0.0
dtype: float64

In [131]:
selected_columns = non_nan_cols.index[:-2]
print(selected_columns)
vehicle_df = vehicle_df[selected_columns]
vehicle_df.head()

Index(['barrels08', 'city08', 'comb08', 'fuelCost08', 'fuelType', 'fuelType1',
       'highway08', 'id', 'make', 'model', 'phevBlended', 'VClass', 'year'],
      dtype='object')

,barrels08,city08,comb08,fuelCost08,fuelType,fuelType1,highway08,id,make,model,phevBlended,VClass,year
0,15.695714,19.0,21.0,2250.0,Regular,Regular Gasoline,25.0,1.0,Alfa Romeo,Spider Veloce 2000,False,Two Seaters,1985.0
1,29.964545,9.0,11.0,4300.0,Regular,Regular Gasoline,14.0,10.0,Ferrari,Testarossa,False,Two Seaters,1985.0
2,12.207778,23.0,27.0,1750.0,Regular,Regular Gasoline,33.0,100.0,Dodge,Charger,False,Subcompact Cars,1985.0
3,29.964545,10.0,11.0,4300.0,Regular,Regular Gasoline,12.0,1000.0,Dodge,B150/B250 Wagon 2WD,False,Vans,1985.0
4,17.347895,17.0,19.0,3050.0,Premium,Premium Gasoline,23.0,10000.0,Subaru,Legacy AWD Turbo,False,Compact Cars,1993.0

In [132]:
# Get emissions data info and description
emissions_df.info()
emissions_df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42442 entries, 0 to 42441
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   efid           42442 non-null  object
 1   id             42442 non-null  int64
 2   salesArea      42442 non-null  int64
 3   score          42442 non-null  float64
 4   scoreAlt       42442 non-null  float64
 5   smartwayScore  42442 non-null  int64
 6   standard       42442 non-null  object
 7   stdText        42428 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 2.6+ MB

,count,mean,std,min,25%,50%,75%,max
id,42442.0,32373.193770,7237.823953,19332.0,25265.25,33315.0,38526.75,43921.0
salesArea,42442.0,5.057632,2.135504,1.0,3.00,7.0,7.00,9.0
score,42442.0,5.015079,1.876870,-12.0,5.00,5.0,6.00,10.0
scoreAlt,42442.0,-0.947576,0.550470,-1.0,-1.00,-1.0,-1.00,6.0
smartwayScore,42442.0,-0.570001,0.856694,-1.0,-1.00,-1.0,-1.00,2.0

Here, we only need the id and score columns. So, we can drop the rest.

In [133]:
emissions_df = emissions_df[['id', 'score']]
emissions_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,42442.0,32373.193770,7237.823953,19332.0,25265.25,33315.0,38526.75,43921.0
score,42442.0,5.015079,1.876870,-12.0,5.00,5.0,6.00,10.0

Although, we have no missing values, the score column has -12.0 as the minimum value implying there might be incorrect values lying outisde the [1, 10] interval.

In [134]:
incorrect_scores = emissions_df.score[emissions_df.score < 1].size
print('There are {} incorrect emission scores'.format(incorrect_scores))

There are 20 incorrect emission scores

In [135]:
# Remove incorrect scores
emissions_df = emissions_df[~(emissions_df.score < 1)]
emissions_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,42422.0,32378.618995,7235.194428,19332.0,25273.25,33320.0,38529.0,43921.0
score,42422.0,5.021451,1.851329,1.0,5.00,5.0,6.0,10.0

Now, we have to join the two data frames based on id.

In [136]:
# We perform inner join because we only need matching car ids.
vehicle_emissions_df = vehicle_df.join(emissions_df.set_index('id'), on='id', how='inner').reset_index(drop=True)
vehicle_emissions_df.head()

,barrels08,city08,comb08,fuelCost08,fuelType,fuelType1,highway08,id,make,model,phevBlended,VClass,year,score
0,18.311667,16.0,18.0,3200.0,Premium,Premium Gasoline,22.0,19332.0,Acura,NSX,False,Two Seaters,2004.0,1.0
1,18.311667,16.0,18.0,3200.0,Premium,Premium Gasoline,22.0,19332.0,Acura,NSX,False,Two Seaters,2004.0,1.0
2,18.311667,16.0,18.0,3200.0,Premium,Premium Gasoline,22.0,19333.0,Acura,NSX,False,Two Seaters,2004.0,1.0
3,18.311667,16.0,18.0,3200.0,Premium,Premium Gasoline,22.0,19333.0,Acura,NSX,False,Two Seaters,2004.0,1.0
4,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,19334.0,Audi,TT Roadster,False,Two Seaters,2004.0,1.0

In [137]:
# Remove ID column and drop duplicate rows
vehicle_emissions_df = vehicle_emissions_df.drop(columns=['id'])
vehicle_emissions_df = vehicle_emissions_df.drop_duplicates().reset_index(drop=True)
vehicle_emissions_df.head()

,barrels08,city08,comb08,fuelCost08,fuelType,fuelType1,highway08,make,model,phevBlended,VClass,year,score
0,18.311667,16.0,18.0,3200.0,Premium,Premium Gasoline,22.0,Acura,NSX,False,Two Seaters,2004.0,1.0
1,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,Audi,TT Roadster,False,Two Seaters,2004.0,1.0
2,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,Audi,TT Roadster quattro,False,Two Seaters,2004.0,1.0
3,15.695714,19.0,21.0,2750.0,Premium,Premium Gasoline,25.0,Audi,TT Roadster quattro,False,Two Seaters,2004.0,1.0
4,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,BMW,Z4 Roadster,False,Two Seaters,2004.0,1.0

In [138]:
vehicle_emissions_df.describe()
vehicle_emissions_df.to_csv('Data/Vehicle_Emissions.csv', index=False)

Now, we have a cleaned data set having 28556 non-redundant observations that combines both vehicles and emissions data sets.

## 3.2 Data Transformation

In [169]:
# Read the cleaned data to avoid recomputation
ve_df = pd.read_csv('Data/Vehicle_Emissions.csv')
ve_df.head()

,barrels08,city08,comb08,fuelCost08,fuelType,fuelType1,highway08,make,model,phevBlended,VClass,year,score
0,18.311667,16.0,18.0,3200.0,Premium,Premium Gasoline,22.0,Acura,NSX,False,Two Seaters,2004.0,1.0
1,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,Audi,TT Roadster,False,Two Seaters,2004.0,1.0
2,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,Audi,TT Roadster quattro,False,Two Seaters,2004.0,1.0
3,15.695714,19.0,21.0,2750.0,Premium,Premium Gasoline,25.0,Audi,TT Roadster quattro,False,Two Seaters,2004.0,1.0
4,15.695714,18.0,21.0,2750.0,Premium,Premium Gasoline,26.0,BMW,Z4 Roadster,False,Two Seaters,2004.0,1.0

First we check VClass categorical variable. This is an imporant variable as vehicle size is directly responsible for mileage and hence, emission score. We have to aggregate this column in to a higher level because there are two many categories.

In [170]:
ve_df.VClass.value_counts()

Compact Cars                          4239
Midsize Cars                          4152
Subcompact Cars                       2736
Large Cars                            2227
Sport Utility Vehicle - 4WD           2023
Sport Utility Vehicle - 2WD           1618
Two Seaters                           1602
Small Sport Utility Vehicle 4WD       1496
Small Station Wagons                  1172
Standard Sport Utility Vehicle 4WD    1166
Small Sport Utility Vehicle 2WD        996
Minicompact Cars                       975
Standard Pickup Trucks 2WD             914
Standard Pickup Trucks 4WD             851
Standard Sport Utility Vehicle 2WD     433
Midsize Station Wagons                 365
Small Pickup Trucks 2WD                351
Minivan - 2WD                          324
Small Pickup Trucks 4WD                273
Vans, Cargo Type                       205
Special Purpose Vehicle 2WD            189
Vans, Passenger Type                   168
Minivan - 4WD                           42
Special Purpose Vehicle 4WD             39
Name: VClass, dtype: int64

In [171]:
vclass_1 = [
    'Compact Cars',
    'Midsize Cars',
    'Subcompact Cars',
    'Two Seaters',
    'Minicompact Cars'
]
vclass_2 = [
    'Large Cars'
    'Sport Utility Vehicle',
    'Small'
]
for vclass in ve_df.VClass.unique():
    selection = ve_df['VClass'] == vclass
    if vclass in vclass_1:
        ve_df.loc[selection, 'VClass'] = 1
    elif any(v in vclass for v in vclass_2):
        ve_df.loc[selection, 'VClass'] = 2
    else:
        ve_df.loc[selection, 'VClass'] = 3
ve_df.VClass.value_counts()

1    13704
3    10564
2     4288
Name: VClass, dtype: int64

So, we have made 3 categories out of the initial 24! Now, we check the fuelType1 column

In [172]:
ve_df.fuelType1.value_counts()

Regular Gasoline     15596
Premium Gasoline     12175
Diesel                 365
Electricity            254
Midgrade Gasoline      136
Natural Gas             30
Name: fuelType1, dtype: int64

We can combine midgrade and regular gasolines as 'Regular Gasoline'. We can also combine 'Electricity' and 'Natural Gas' as 'Green Fuel'.

In [173]:
for ft in ve_df.fuelType1.unique():
    selection = ve_df['fuelType1'] == ft
    if ft == 'Midgrade Gasoline':
        ve_df.loc[selection, 'fuelType1'] = 'Regular Gasoline'
    elif ft in ['Electricity', 'Natural Gas']:
        ve_df.loc[selection, 'fuelType1'] = 'Green Fuel'
ve_df.fuelType1.value_counts()

Regular Gasoline    15732
Premium Gasoline    12175
Diesel                365
Green Fuel            284
Name: fuelType1, dtype: int64

In [174]:
ve_df.phevBlended.value_counts()

False    28344
True       212
Name: phevBlended, dtype: int64

In [175]:
# We drop columns that won't be useful or are redundant
ve_df = ve_df.drop(columns=['fuelType', 'make', 'model'])

# Set int types to year and score
ve_df.year = ve_df.year.astype(int)
ve_df.score = ve_df.score.astype(int)
ve_df.to_csv('Data/VE_Transformed.csv', index=False)
ve_df.head()

,barrels08,city08,comb08,fuelCost08,fuelType1,highway08,phevBlended,VClass,year,score
0,18.311667,16.0,18.0,3200.0,Premium Gasoline,22.0,False,1,2004,1
1,15.695714,18.0,21.0,2750.0,Premium Gasoline,26.0,False,1,2004,1
2,15.695714,18.0,21.0,2750.0,Premium Gasoline,26.0,False,1,2004,1
3,15.695714,19.0,21.0,2750.0,Premium Gasoline,25.0,False,1,2004,1
4,15.695714,18.0,21.0,2750.0,Premium Gasoline,26.0,False,1,2004,1

## 3.3 Data Visualization

In [176]:
ve_df = pd.read_csv('Data/VE_Transformed.csv')
ve_df.head()

,barrels08,city08,comb08,fuelCost08,fuelType1,highway08,phevBlended,VClass,year,score
0,18.311667,16.0,18.0,3200.0,Premium Gasoline,22.0,False,1,2004,1
1,15.695714,18.0,21.0,2750.0,Premium Gasoline,26.0,False,1,2004,1
2,15.695714,18.0,21.0,2750.0,Premium Gasoline,26.0,False,1,2004,1
3,15.695714,19.0,21.0,2750.0,Premium Gasoline,25.0,False,1,2004,1
4,15.695714,18.0,21.0,2750.0,Premium Gasoline,26.0,False,1,2004,1